.bg-gray {
    background-color: #aaa2a29a;
 }

a {
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 17px;
    position: relative;
}

.menu {
    height: 100vh;
    background-color: #f8f8f8;
    width: 20%;
    float: left;
    padding: 15px;
    border-right: 1px ridge;
    border-top: 1px ridge;
}

.main {
    width: 75%;
    float: left;
    padding: 15px;
}

.bg-login {
    padding-bottom: 37.5%; /* = ( 600 / 1600 ) x 100 */
    background-image: url( 'http://placehold.it/1600x600/A00' );
    background-size: cover;
    background-color: #4cc7f1;
  }


