.bg-gray {
    background-color: #aaa2a29a;
}

a {
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 17px;
    position: relative;
}

h2 {
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 20px;
    margin-left: 20px;
    position: relative;
}

.menu {
    height: 100vh;
    background-color: #f8f8f8;
    width: 20%;
    float: left;
    padding: 15px;
    border-right: 1px ridge;
    border-top: 1px ridge;
}

.main {
    width: 75%;
    float: left;
    padding: 15px;
}

.bg-login {
    background-size: cover;
    background-color: #4cc7f1;
  }

.d-flex {
    margin-bottom: 20px;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}


