.bg-gray {
    background-color: #aaa2a29a;
}

a {
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 17px;
    position: relative;
}

h2 {
    color: rgb(0, 0, 0);
    font-family: 'Prompt', sans-serif;
    position: relative;
}

h5 {
    color: rgb(0, 0, 0);
    font-family: 'Prompt', sans-serif;
    position: relative;
}

.menu {
    height: 100vh;
    background-color: #f8f8f8;
    width: 20%;
    float: left;
    padding: 15px;
    border-right: 1px ridge;
    border-top: 1px ridge;
}

.main {
    width: 75%;
    float: left;
    padding: 15px;
}

.bg-login {
    background-size: cover;
    background-color: #4cc7f1;
  }

.d-flex {
    margin-bottom: 20px;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
}

.pb-4 {
    padding-bottom: 1.5rem !important;
}

.btn-change {
    background-color: #5289B5;
    color: white;
    width: 100px;
    height: 35px;
    transition-duration: 0.4s;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.btn-change:hover {
    background-color: #AFD8F2;
    color: black;
    width: 100px;
    height: 35px;
    transition-duration: 0.4s;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.btn-enrolled {
    background-color: #fd6500;
    color: white;
    width: 100px;
    height: 35px;
    transition-duration: 0.4s;
    border-radius: 5px;
    border: none;
    text-align: center;
}

.btn-enrolled:hover {
    background-color: #AFD8F2;
    color: black;
    width: 100px;
    height: 35px;
    transition-duration: 0.4s;
    border-radius: 5px;
    border: none;
    text-align: center;
}
.text-white{
    color: white;
}

.text-black-hover:hover{
    color: black;
}

.btn-dagr {
    background-color: #CD5C5C;
    color: white;
    width: 100px;
    height: 35px;
    transition-duration: 0.4s;
    border-radius: 5px;
    border: none;
    margin-left: 2em;
}

.btn-dagr:hover {
    background-color: #b43636;
    color: black;
    transition-duration: 0.4s;
    text-decoration: none;
}

.btn-add {
    background-color: #019992;
    color: white;
    width: 150px;
    height: 35px;
    transition-duration: 0.4s;
    border-radius: 5px;
    border: none;
}

.btn-add:hover {
    background-color: #82ac82;
    color: black;
    transition-duration: 0.4s;
}

.background {
    background-color: #f8f8f8;
    border-radius: 20px;
}

