{% extends "subjectenroller/layout.html" %}

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:wght@300&display=swap" rel="stylesheet">
</head>

{% block body %}
    <title>รายละเอียดวิชา</title>
    <br>
    <br>
    <div style="display: flex; flex-direction: column;">
        <div class="container">
            <div class="row">
              <div class="col-auto">
                <table style="width:100%">
                    <tr>
                        <th><img src="/static/image/user.jpg" alt="userlogo" width="35" height="35"></th>
                        <td><a>ยินดีต้อนรับ {{ request.session.name }}  เลขที่นักศึกษา {{ request.session.user_id }}</a></td>
                    </tr>
                    <tr> 
                        <td></td>       
                        <td><a>คณะ วิศวกรรมศาสตร์ รูปแบบ คอมพิวเตอร์</a></td>
                    </tr>
                    <tr>   
                        <td></td>     
                        <td><a>ภาคเรียนที่ 2 ปีการศึกษา 2565</a></td>
                    </tr>
                </table>
              </div>
              <div class="col-auto">
              </div>
            </div>
            <br>
              <b><a style="font-size: 22px;">รหัสและชื่อวิชา</b></a><br><br>
              <a style="font-size: 22px;">ชื่อวิชา: {{ context.subject.S_name }}</a><br><br>
              <a style="font-size: 22px;">รหัสวิชา: {{ context.subject.S_id }}</a><br><br>
              <a style="font-size: 22px;">ผู้สอน: {{ context.subject.S_teacher }}</a><br><br>
              <a style="font-size: 22px;">หน่วยกิต: {{ context.subject.S_credits }} หน่วยกิต</a><br><br>
              <a style="font-size: 22px;">วิชาบังคับก่อน:</a><br><br>
              {% for pre_subject in context.subject.pre_id.all %}
              <a style="font-size: 22px;">{{ pre_subject.S_id }} - {{ pre_subject.S_name }}</a><br><br>
          {% empty %}

          {% endfor %}    
              <a style="font-size: 22px;">วิชาตัวต่อ:</a><br><br>
                {% for post_subject in context.subject.post_id.all %}
              <a style="font-size: 22px;">{{ post_subject.S_id }} - {{ post_subject.S_name }}</a><br><br>   
          {% endfor %}
              <a style="font-size: 22px;">วิชาที่ต้องลงคู่กัน:</a><br><br>
                {% for same_subject in context.subject.same_id.all %}
              <a style="font-size: 22px;">{{ same_subject.S_id }} - {{ same_subject.S_name }}</a><br><br>    
          {% endfor %}
              <a style="font-size: 22px;">รายละเอียดวิชา: {{ context.subject.S_detail }}</a><br><br>        
              
        <br>
        <ul>
          {% for subject in subject %}
            {% if subject.term == '11' %}      
            <li><a href="{% url 'detail' subject.S_id %}">{{ subject.S_id }} - {{ subject.S_name }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
  
{% endblock %}