{% extends "subjectenroller/layout.html" %}

{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Prompt:wght@300&display=swap" rel="stylesheet">
</head>

{% block body %}
    <script>
        function confirm_enroll()
        {
            var answer = window.confirm("ยืนยันการจดทะเบียน");
            return answer;
        }
        function confirm_unenroll()
        {
            var answer = window.confirm("ถอนการจดทะเบียน");
            return answer;
        }
    </script>
    <title>ทดลองจดทะเบียน</title>
    <br>
    <br>
    <div style="display: flex; flex-direction: column;">
        <div class="container">
            <div class="row">
              <div class="col-auto">
                <table style="width:100%">
                    <tr>
                        <th><img src="/static/image/user.jpg" alt="userlogo" width="35" height="35"></th>
                        <td><a>ยินดีต้อนรับ {{ request.session.name }}  เลขที่นักศึกษา {{ request.session.user_id }}</a></td>
                    </tr>
                    <tr> 
                        <td></td>       
                        <td><a>คณะ วิศวกรรมศาสตร์ รูปแบบ คอมพิวเตอร์</a></td>
                    </tr>
                    <tr>   
                        <td></td>     
                        <td><a>ภาคเรียนที่ 2 ปีการศึกษา 2565</a></td>
                    </tr>
                </table>
              </div>
              <div class="col-auto">
              </div>
            </div>
            <br>
            <a>ทดลองจดทะเบียนที่นี่</a><br><br>
            {% block content %}
                {% load mptt_tags %}
                <div class="skill-tree background">
                    {% recursetree skills %}
                        <ul>
                            <div style="margin-left: 2em;">
                                {% if node.pare %}
                                    <div class="parallel">
                                        <a href="{% url 'enroll' node.pare.S_id %}" style="text-decoration: none;" class="text-white"><button class="btn-change" style="margin-top: 1em;">{{ node.pare.S_id }}</button></a>
                                        <span class="line"></span>
                                    </div>
                                {% endif %}
                                <li>
                                    {% if node.subject in student.enrolled_subjects.all %}
                                        <a href="{% url 'enroll' node.subject.S_id %}" style="text-decoration: none;" ><button class="btn-enrolled" style="margin-top: 1em;">{{ node.subject.S_id }}</button></a>
                                    {% else %}
                                        <a href="{% url 'enroll' node.subject.S_id %}" style="text-decoration: none;" class="text-blue"><button class="btn-change" style="margin-top: 1em;" onclick="confirm_enroll()">{{ node.subject.S_id }}</button></a>
                                    {% endif %}
                                    {% if not node.is_leaf_node %}
                                        <span class="toggle" data-target=".children-{{ node.pk }}"></span>
                                    {% endif %}
                                    <ul class="children-{{ node.pk }}">
                                        {{ children }}
                                    </ul>
                                </li>
                            </div>
                        </ul>
                    {% endrecursetree %}
                    <br>
                </div>
                <!-- ssss -->
                <script>
                </script>
                <br>
                <a>วิชาที่ลงทะเบียนไปแล้ว</a><br><br>
                <div style="margin: 1em;">
                    {% for subject in student.enrolled_subjects.all %}
                        <table>
                            <tr>
                                <td style="width: 80px;">{{ subject }}</td>
                                <td><a href="{% url 'un_enroll' subject.S_id %}"><button onclick="confirm_unenroll()" class="btn-dagr">Delete</button></a></td>
                            </tr>
                        </table>
                        <br>
                    {% endfor %}
                </div>
                <!-- sss -->
                <!-- <div class="skill-tree background" >
                    {% recursetree skills %}
                        <ul>
                            <div style="margin-left: 2em;">
                                <li><a href="{% url 'enroll' node.subject.S_id %}" style="text-decoration: none;" class="text-white"><button class="btn-change" style="margin-top: 1em;" onclick="confirm_enroll()">{{ node.subject.S_id }}</button></a>
                                    
                                    {% if not node.is_leaf_node %}
                                        <span class="toggle" data-target=".children-{{ node.pk }}"></span>
                                    {% endif %}
                                    <ul class="children-{{ node.pk }}">
                                        {{ children }}
                                    </ul>
                                </li>
                            </div>
                        </ul>
                    {% endrecursetree %}
                    <br>
                </div> -->
               
                
                <!-- dddd -->
                <!-- <div class="tree-list">
                    <div class="skill-tree">
                        {% for subject_tree in tree_list %}
                          <div class="subject-tree">
                            {% for subject in subject_tree %}
                              <div class="skill-box">
                                <span class="skill-title">{{ subject }}</span>
                                {% if not loop.last %} <div class="skill-connector"></div> {% endif %}
                              </div>
                            {% endfor %}
                          </div>
                        {% endfor %}
                      </div> -->
                      
                <!-- dddd -->
                

            {% endblock %}
  
{% endblock %}
